* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
}
section{
	scroll-margin-top: 70px	;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
nav {
	position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	text-align: center;
	z-index: 10;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
}
.nav-items {
	display: none;
}
header {
	position: relative;
	background-image: url('../img/wilk\ small.jpg');
	height: 330px;
	background-size: cover;
	background-position: center;
}
.section-tittle {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}
main {
	margin: 80px 0;
}
.about-us-info {
	margin-bottom: 10px;
	padding: 0 20px;
}
.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white; 
}
.hero-text h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px black;
	color: #ddd;
}
.hero-text span {
	text-transform: uppercase;
	color: #09f;
}
.products {
	margin: 60px auto;
}
.product {
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
	height: 400px;
}
.first-product {
	background-image: url('../img/dzieci-male.jpg');
}
.second-product {
	background-image: url('../img/klawiatura-mala.jpg');
}
.third-product {
	background-image: url('../img/kobieta-male.jpg');
}
.fourth-product {
	background-image: url('../img/laptop-male.jpg');
}
.product h3 {
	text-transform: uppercase;
	transition: transform 0.5s;
}
.contact {
	text-align: center;
}
.contact h3 {
	margin: 20px 0 5px;
	text-transform: uppercase;
}
footer {
	text-align: center;
	padding: 30px 10px;
	background-color: #ddd;
}
.product:hover h3 {
	transform: scale(1.6, 1.6);
}
@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 50px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: color 0.3s;
	}
	.nav-items a:hover {
		color: #09f;
	}
	header {
		background-image: url('../img/landscape-g3b7c6a692_1920.jpg');
		height: 400px;
	}
	.hero-text h1 {
		font-size: 36px;
	}
	.hero-text p {
		font-size: 18px;
	}
	.product h3 {
		font-size: 24px;
	}
}
@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}
	.hero-text p {
		font-size: 20px;
	}
}
@media (min-width: 992px) {
	.product {
		display: inline-block;
		width: 50%;
	}
	.products-box {
		font-size: 0;
	}
}
